doctype 5
html(ng-app="app")
  head
    link(rel='stylesheet', href='/vendor/bootstrap/2.3.2/css/bootstrap.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    div#content(ng-controller='PageCtrl')
      header
        block header
      section
        block body
      footer
        block footer
