html, body {
}

body {
  padding: 50px;
}

#content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#content>header {
	margin-bottom: -2px;
}
#content>header>.navbar-inner {
	padding-left: 10px;
	padding-right: 0px;
}

#content>footer {
	padding-top: 5px;
	text-align: center;
}

#content>section {
	padding-top: 10px;
	border: 1px solid #999999;
	border-top: none;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

#room {
  margin-bottom: 1em;
}

#messages {
  width: 680px;
  height: 300px;
  overflow: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  padding: 10px;
}

#content>section {
	position: relative;
}

#room-list {
	position: absolute;
	top: 0px;
	right: 0px;
  width: 170px;
  height: 175px;
  padding: 10px;
  overflow: auto;
}

#room-list div {
  border-bottom: 1px solid #eee;
}

#help {
	position: absolute;
	bottom: 0px;
	right: 0px;
  width: 170px;
  height: 110	px;
  padding: 10px;
  overflow: auto;
}

#send-message {
  margin-left: 10px;
}
#send-message input {
  width: 596px;
}

.aboutDialog .modal-header {
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}