body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#room {
  background-color: #ddd;
}

#messages {
  background-color: #eee;
}

#room-list div {
  cursor: pointer;
}

#room-list div:hover {
  background-color: #ddd;
}

#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
