body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#content {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;  
}

#content>header .navbar-inner {
  background-color: #3b5998 !important;
  background-image: none !important;
  border-color: #3b5998 !important;
}
#content>header a {
  color: #f7f7f7 !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#content>section {
  background-color: #f7f7f7;
}

#room {
  background-color: #ddd;
}

#messages {
  background: #dfe3ee;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: -moz-text;
  -ms-user-select: text;
  user-select: text;
}

#room-list div {
  cursor: pointer;
}

#room-list div:hover {
  background-color: #ddd;
}

#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.aboutDialog .modal-header {
  background-color: #3b5998;
  color: white;
}
.aboutDialog table thead {
  background-color: #dfe3ee;
}